<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>treino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">treino</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content [fullscreen]="true">
  <ion-accordion-group class="accordion-container">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Primeira opção</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Agachamento Livre: 4 séries de 8-10 repetições
        Leg Press: 3 séries de 10-12 repetições
        Extensora de Pernas: 3 séries de 12-15 repetições
        Cadeira Flexora: 4 séries de 8-10 repetições
        Levantamento Terra (Deadlift): 3 séries de 8-10 repetições
        Panturrilha Sentado: 4 séries de 12-15 repetições</div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Segunda opção</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Agachamento Frontal: 4 séries de 8-10 repetições
        Afundo com Barra: 3 séries de 10-12 repetições cada perna
        Stiff: 3 séries de 10-12 repetições
        Mesa Flexora: 4 séries de 8-10 repetições
        Elevação de Panturrilha em Pé: 4 séries de 12-15 repetições
        Elevação de Panturrilha Unilateral em Máquina: 3 séries de 12-15 repetições cada perna</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Terceira opção</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Agachamento Sumô: 4 séries de 8-10 repetições
        Extensora de Quadril: 3 séries de 10-12 repetições
        Cadeira Adutora/Abdutora: 3 séries de 12-15 repetições cada exercício
        Flexora deitada: 4 séries de 8-10 repetições
        Elevação de Gêmeos em Leg Press: 4 séries de 12-15 repetições
        Elevação de Panturrilha no Hack Machine: 3 séries de 12-15 repetições</div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
