<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>treinopeito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">treinopeito</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-content [fullscreen]="true">
  <ion-accordion-group class="accordion-container">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Primeira opção</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Supino reto: 4 séries de 8-10 repetições
        Supino inclinado com halteres: 3 séries de 10-12 repetições
        Crucifixo com halteres: 3 séries de 12-15 repetições
        Rosca direta com barra W: 4 séries de 8-10 repetições
        Rosca martelo alternada: 3 séries de 10-12 repetições
        Rosca concentrada: 3 séries de 12-15 repetições</div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Segunda opção</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Supino inclinado com halteres: 4 séries de 8-10 repetições 
        Cross over: 3 séries de 10-12 repetições
        Flexões diamante: 3 séries até a falha muscular
        Paralelas: 4 séries de 8-10 repetições 
        Tríceps pulley corda: 3 séries de 10-12 repetições
        Extensão de tríceps unilateral com halteres: 3 séries de 12-15 repetições</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Terceira opção</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Supino inclinado: 4 séries de 8-10 repetições
         Supino canadense com halteres: 3 séries de 10-12 repetições
          Flexões de braço (variação de pegada): 3 séries até a falha muscular 
          Rosca 21: 4 séries de 7 repetições (7 reps do meio até metade, 7 do início até a metade, 7 do meio até o final)
          Rosca 21 com halteres (sentado): 3 séries de 7 repetições (mesmo princípio do exercício anterior)
          Rosca inversa no pulley baixo: 3 séries de 12-15 repetições</div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
