<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>treinocostas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">treinocostas</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content [fullscreen]="true">
  <ion-accordion-group class="accordion-container">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Primeira opção</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Puxada frontal na polia alta: 4 séries de 8-10 repetições
        Remada curvada com barra: 3 séries de 10-12 repetições
        Pulldown com pegada larga: 3 séries de 12-15 repetições
        Rosca direta com barra EZ: 4 séries de 8-10 repetições
        Rosca alternada com halteres: 3 séries de 10-12 repetições
        Rosca concentrada: 3 séries de 12-15 repetições</div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Segunda opção</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Pulldown na polia alta: 4 séries de 8-10 repetições
        Remada serrote com halteres: 3 séries de 10-12 repetições cada braço
        Puxada na máquina com pegada invertida: 3 séries de 12-15 repetições
        Tríceps testa com barra reta: 4 séries de 8-10 repetições
        Tríceps pulley corda: 3 séries de 10-12 repetições
        Extensão de tríceps unilateral com halteres: 3 séries de 12-15 repetições</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Terceira opção</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Barra fixa (pull-up): 4 séries de 8-10 repetições
        Remada unilateral com halteres: 3 séries de 10-12 repetições cada braço
        Puxada na máquina: 3 séries de 12-15 repetições
        Rosca Scott com barra reta: 4 séries de 8-10 repetições
        Martelo com halteres: 3 séries de 10-12 repetições
        Rosca concentrada inclinada: 3 séries de 12-15 repetições</div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>

