<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>treinoombro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">treinoombro</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content [fullscreen]="true">
  <ion-accordion-group class="accordion-container">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Primeira opção</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Desenvolvimento com barra por trás da nuca: 4 séries de 8-10 repetições
        Elevação lateral com polia baixa: 3 séries de 10-12 repetições
        Elevação frontal com polia alta: 3 séries de 10-12 repetições
        Desenvolvimento com halteres alternado: 3 séries de 12-15 repetições
        Elevação lateral com cabos: 4 séries de 8-10 repetições
        Encolhimento de ombros com halteres unilateral: 3 séries de 10-12 repetições</div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Segunda opção</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Desenvolvimento militar com barra: 4 séries de 8-10 repetições
        Elevação lateral com halteres: 3 séries de 10-12 repetições
        Elevação frontal com halteres: 3 séries de 10-12 repetições
        Elevação lateral na máquina: 3 séries de 12-15 repetições
        Remada alta com halteres: 4 séries de 8-10 repetições
        Encolhimento de ombros com barra: 3 séries de 10-12 repetições</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Terceira opção</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Desenvolvimento com barra por trás da nuca: 4 séries de 8-10 repetições
        Elevação lateral com polia baixa: 3 séries de 10-12 repetições
        Elevação frontal com polia alta: 3 séries de 10-12 repetições
        Desenvolvimento com halteres alternado: 3 séries de 12-15 repetições
        Elevação lateral com cabos: 4 séries de 8-10 repetições
        Encolhimento de ombros com halteres unilateral: 3 séries de 10-12 repetições</div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
